/*初始化代码*/

body,
div,
span,
ul,
ol,
li,
a,
img,
input,
em,
i,
strong,
h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	border: 0 none;
	vertical-align: middle;
}

input {
	border: 0 none;
	outline: 0 none;
}

li {
	list-style: none;
}

i,
em {
	font-style: normal;
}

h1,
h2,
h3,
h4,
strong {
	font-weight: normal;
}

body {
    font: 12px/100% "微软雅黑";
    background: #eee;
}

/* 头部 */
.header {
    background: #fedb51;
    width: 100%;
    height: 34px; 
    position: relative;
}

.header .back {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 34px;
    font-size: 30px;
    color: #fff;
}

.header .title {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    font-weight: 700;
    color: #d80c18;
}

/* 动漫列表 */
.main {
    width: 100%;
    height: 132px;
}

.main .content {
    width: 100%;
    height: 132px;
    display: flex;
    justify-content: flex-start;
    padding: 16px 16px 16px 0;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 2px;
}

.content .pic>a {
    display: block;
    width: 78px;
    height: 100px;
}

.content .pic img {
    width: 100%;
    height: 100%;
}

.introduce {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.introduce .title {
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.introduce p {
    color: #999;
}